
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bgSuccess {
  background-color: #28a745 !important;
}

.bgPrimary {
  background-color: #007bff !important;
}

.bgSecondary {
  background-color: #6c757d !important;
}

.bgWarning {
  background-color: #ffc107 !important;
}

.bgInfo {
  background-color: #17a2b8 !important;
}

.bgDanger {
  background-color: #dc3545 !important;
}